.spot-review-card {
    display: flex;
    width: 50%;
    max-height: 100px;
    justify-content: space-between;
    align-items: center;
}

.user-review-cont {
    display: flex;
    max-width: 35vw;
    /* flex-wrap: wrap; */
    overflow: scroll;
}

.review-user-name {
    font-weight: bold;
}

.review-create-date {
    font-weight: light;
    color: grey;
}

.review-button {
    margin-right: 200px;
    background-color: #ee2d51;
    border-radius: 10px;
    color: #fff;
    height: 30px;
    width: 100px;
    /* margin: 10px; */
    text-transform: uppercase;
    border: none;
}
