.spots-div {
    display: flex;
    width: 90vw;
    border: 3px solid;
    align-items: center;
    /* justify-content: space-around; */
    margin: 50px;
}

.all-spots {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    /* border: 2px solid hotpink; */
    justify-content: center;
    align-items: flex-start;
}

.spot-link {
    text-decoration: none;
    color: black;
    /* border: 2px solid green; */
}

.spot {
    width: 200px;
}

.spot-image {
    height: 190px;
    width: 190px;
    border-radius: 15px;
}

.spot-rating {

}

.spot-title {

}

.spot-description {

}
