.spots-div {
    display: flex;
    width: 90vw;
    /* border: 3px solid; */
    align-items: center;
    /* justify-content: space-around; */
    margin: 50px;
}

.all-spots {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    /* border: 2px solid hotpink; */
    justify-content: center;
    align-items: flex-start;
}

.spot-link {
    text-decoration: none;
    color: black;
    /* border: 2px solid green; */
}

.spot {
    width: 225px;
    padding: 10px;
    display: grid;
    grid-template-areas:
    'image'
    'title'
    'description'
    'price';
}

.spot-image {
    height: 220px;
    width: 220px;
    border-radius: 15px;
    grid-area: image;
}

.title-rating {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-area: title;
}

.spot-title {
    font-size: 15px;
}

.spot-rating {
    font-size: 15px;
}
