.spot-details-header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* box-sizing: content-box; */
}

.spot-details-images {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 50vh;
    width: 90vw;
    border-radius: 15px;
}

.small-images-div {
    display: grid;
    height: 100%;
    width: 50%;
    grid-template-areas:
    "tl tr"
    "bl br";
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
}

.preview-image-div {
    display: flex;
    height: 100%;
    width: 50%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 10px;
}

.preview-image {
    object-fit: contain;
    width: fit-content;
    height: fit-content;
}

.top-left{
    grid-area: tl;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.top-right {
    grid-area: tr;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-top-right-radius: 15px;
}

.bottom-left {
    grid-area: bl;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.bottom-right {
    grid-area: br;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-bottom-right-radius: 15px;
}

.top-left-image {
    object-fit: contain;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
}

.top-right-image {
    object-fit: contain;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
}

.bottom-left-image {
    object-fit: contain;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
}

.bottom-right-image {
    object-fit: contain;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
}
